/* Container */
.leaderboard-container {
  max-width: 80%;
  margin: 0 auto;
  padding: 1rem;
  font-family: system-ui, sans-serif;
}

.category-tabs {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
  background-color: #fbe2b4;
  padding: 8px; /* Use a fixed value instead of a percentage */
  border-radius: 100px;
  width: fit-content;
}

.category-tab {
  padding: 8px 16px; /* A fixed padding for better control */
  border-radius: 9999px;
  font-size: 20px;
  color: var(dark-color);
  font-family: bebas neue;
  background-color: var(--light-color);
  border: none;
  cursor: pointer;
  white-space: nowrap; /* Prevents the text from wrapping */
}

.category-tab:hover {
  background-color: var(--primary-color);
  color: var(--light-color);
}

.category-tab.active {
  background-color: var(--primary-color);
  font-weight: 600;
  color: var(--light-color);
}

/* Top Players */
.top-player-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border-radius: 0.5rem;
  padding: 2%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 0.75rem;
}

.top-player-rank {
  font-size: 24px;
  font-family: bebas neue;
  margin-right: 0.75rem;
}

.top-player-name {
  font-family: bebas neue;
  font-size: 24px;
}

.top-player-score {
  font-family: bebas neue;
  font-size: 32px;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

/* User Rankings */
.user-ranking-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  padding: 1%;
  margin-bottom: 0.5rem;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.user-ranking-card.current-user {
  background: #fff;
  border-left: 4px solid var(--primary-color);
  padding: 1%;
  color: var(--dark-color);
}

.user-rank {
  font-size: 16px;
  font-family: bebas neue;
  color: #3d2a1985;
  margin-right: 0.75rem;
  background-color: #fff;
}

.user-name {
  font-size: 16px;
  font-family: bebas neue;
  color: #3d2a1984;
}

.user-name.current {
  font-family: bebas neue;
  color: var(--dark-color);
  font-size: 16px;
}

.user-score {
  font-family: bebas neue;
  color: #3d2a1984;
}

.divider {
  margin: 20px 0;
  border-top-width: 1px;
  border-top-color: #c9c9c9;
  border-top-style: dashed;
  border-bottom: none;
  border-left: none;
  border-right: none;
}
